# SQL Queries for Analyzing Chicago School and Community Data

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
    <li><a href="#project-description">Project Description</a></li>
    <li><a href="#objectives">Objectives</a></li>
    <li><a href="#understand-the-datasets">Understand the datasets</a></li>
    <li><a href="#storing-the-datasets-in-database-tables">Storing the datasets in database tables</a></li>
    <li><a href="#chicago-database-problems">Chicago Database Problems</a></li>
    <li><a href="#chicago-public-schools-dataset-problems">Chicago Public Schools Dataset Problems</a></li>
    <li><a href="#summary">Summary</a></li>
</ol>
</div>

<hr>

## Project Description

This project involves querying a SQLite database to extract meaningful insights from datasets related to Chicago Public Schools and census data. By performing various SQL queries, the project seeks to analyze student attendance, school enrollment, hardship indexes, and other community indicators. The goal is to demonstrate the ability to use SQL to answer complex questions and generate actionable insights from real-world data.

## Objectives

+ To practice advanced SQL querying techniques, including subqueries, and filtering.
+ To analyze public school performance indicators such as student attendance and college enrollment.
+ To explore community data by connecting school data to census information.
+ To draw correlations between school performance and community hardship indexes.
+ To provide meaningful answers to specific questions regarding school and community metrics using SQLite.

## Understand the datasets

Three datasets that are available on the city of Chicago's Data Portal will be used in this notebook:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

## Storing the datasets in database tables

Creating three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Loading the `pandas` and `sqlite3` libraries and establishing a connection to `Chicago.db`

In [1]:
# Importing libraries
import pandas as pd
import sqlite3

In [2]:
con = sqlite3.connect("Chicago.db")
cur = con.cursor()

Loading the SQL magic module

In [3]:
%load_ext sql

Using `Pandas` to load the data available in the links above to dataframes. Using these dataframes to load data on to the database `Chicago.db` as required tables.

In [4]:
ChicagoCensusData_file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
df1 = pd.read_csv(ChicagoCensusData_file_path)
df1.to_sql("CENSUS_DATA", con, if_exists='replace', index=False, method="multi")

ChicagoPublicSchools_file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
df2 = pd.read_csv(ChicagoPublicSchools_file_path)
df2.to_sql("CHICAGO_PUBLIC_SCHOOLS", con, if_exists='replace', index=False, method="multi")

ChicagoCrimeData_file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"
df3 = pd.read_csv(ChicagoCrimeData_file_path)
df3.to_sql("CHICAGO_CRIME_DATA", con, if_exists='replace', index=False, method="multi")

533

Establishing a connection between SQL magic module and the database `Chicago.db`

In [5]:
%sql sqlite:///Chicago.db

## Chicago Database Problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [6]:
%%sql
SELECT COUNT(case_number)
FROM CHICAGO_CRIME_DATA;

 * sqlite:///Chicago.db
Done.

[(533,)]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [7]:
%%sql
SELECT COMMUNITY_AREA_NAME
    , COMMUNITY_AREA_NUMBER
FROM CENSUS_DATA
WHERE PER_CAPITA_INCOME <11000;

 * sqlite:///Chicago.db
Done.

[('West Garfield Park', 26.0),
 ('South Lawndale', 30.0),
 ('Fuller Park', 37.0),
 ('Riverdale', 54.0)]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [8]:
%%sql
SELECT *
FROM CHICAGO_CRIME_DATA
WHERE DESCRIPTION LIKE '%minor%' OR primary_type LIKE '%minor%';

 * sqlite:///Chicago.db
Done.

[(3987219, 'HL266884', '2005-03-31', '024XX N CLARK ST', '2210', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 1, 0, 2333, 19, 43.0, 7.0, '22', 1172680.0, 1916483.0, 2005, 41.92626872, -87.64089934, '(41.926268719, -87.640899336)'),
 (3266814, 'HK238408', '2004-03-13', '093XX S STONY ISLAND AVE', '2230', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 1, 0, 413, 4, 8.0, 48.0, '22', 1188539.0, 1843379.0, 2004, 41.72530099, -87.58496589, '(41.72530099, -87.584965887)')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [9]:
%%sql
SELECT *
FROM CHICAGO_CRIME_DATA
WHERE DESCRIPTION LIKE '%child%' AND primary_type = 'KIDNAPPING';

 * sqlite:///Chicago.db
Done.

[(5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [10]:
%%sql
SELECT DISTINCT location_description
FROM chicago_crime_data
WHERE location_description LIKE '%school%'

 * sqlite:///Chicago.db
Done.

[('SCHOOL, PUBLIC, GROUNDS',),
 ('SCHOOL, PUBLIC, BUILDING',),
 ('SCHOOL, PRIVATE, BUILDING',)]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [11]:
%%sql
SELECT `Elementary, Middle, or High School`
        , AVG(SAFETY_SCORE)
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY `Elementary, Middle, or High School`;

 * sqlite:///Chicago.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [12]:
%%sql
SELECT COMMUNITY_AREA_NAME
    , PERCENT_HOUSEHOLDS_BELOW_POVERTY
FROM CENSUS_DATA
ORDER BY 2 DESC
LIMIT 5;

 * sqlite:///Chicago.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [13]:
%%sql
SELECT COMMUNITY_AREA_NUMBER
FROM CHICAGO_CRIME_DATA
GROUP BY COMMUNITY_AREA_NUMBER
ORDER BY COUNT (COMMUNITY_AREA_NUMBER) DESC
LIMIT 1;

 * sqlite:///Chicago.db
Done.

[(25.0,)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [14]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE hardship_index = (
    SELECT hardship_index
    FROM CENSUS_DATA
    ORDER BY 1 DESC
    LIMIT 1
);

 * sqlite:///Chicago.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [15]:
%%sql
SELECT COMMUNITY_AREA_NAME
FROM CENSUS_DATA
WHERE COMMUNITY_AREA_NUMBER	= (
    SELECT COMMUNITY_AREA_NUMBER
    FROM CHICAGO_CRIME_DATA
    GROUP BY COMMUNITY_AREA_NUMBER
    ORDER BY COUNT(COMMUNITY_AREA_NUMBER) DESC
    LIMIT 1
);

 * sqlite:///Chicago.db
Done.

[('Austin',)]

## Chicago Public Schools Dataset Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [16]:
%%sql
SELECT COUNT(`Elementary, Middle, or High School`)
FROM CHICAGO_PUBLIC_SCHOOLS
WHERE `Elementary, Middle, or High School` = 'ES';

 * sqlite:///Chicago.db
Done.

[(462,)]

### Problem 2

##### What is the highest Safety Score?

In [17]:
%%sql
SELECT MAX(SAFETY_SCORE)
FROM CHICAGO_PUBLIC_SCHOOLS;

 * sqlite:///Chicago.db
Done.

[(99.0,)]

### Problem 3

##### Which schools have highest Safety Score?

In [18]:
%%sql
SELECT NAME_OF_SCHOOL
FROM CHICAGO_PUBLIC_SCHOOLS
WHERE SAFETY_SCORE =(
        SELECT MAX(SAFETY_SCORE)
        FROM CHICAGO_PUBLIC_SCHOOLS
    );

 * sqlite:///Chicago.db
Done.

[('Abraham Lincoln Elementary School',),
 ('Alexander Graham Bell Elementary School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('Augustus H Burley Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Edgebrook Elementary School',),
 ('Ellen Mitchell Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('James G Blaine Elementary School',),
 ('LaSalle Elementary Language Academy',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Northside College Preparatory High School',),
 ('Northside Learning Center High School',),
 ('Norwood Park Elementary School',),
 ('Oriole Park Elementary School',),
 ('Sauganash Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('Talman Elementary School',),
 ('Wildwood Elementary School',)]

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [19]:
%%sql
SELECT NAME_OF_SCHOOL 
    , AVERAGE_STUDENT_ATTENDANCE 
FROM CHICAGO_PUBLIC_SCHOOLS
ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC
LIMIT 10;

 * sqlite:///Chicago.db
Done.

[('John Charles Haines Elementary School', '98.40%'),
 ('James Ward Elementary School', '97.80%'),
 ('Edgar Allan Poe Elementary Classical School', '97.60%'),
 ('Orozco Fine Arts & Sciences Elementary School', '97.60%'),
 ('Rachel Carson Elementary School', '97.60%'),
 ('Annie Keller Elementary Gifted Magnet School', '97.50%'),
 ('Andrew Jackson Elementary Language Academy', '97.40%'),
 ('Lenart Elementary Regional Gifted Center', '97.40%'),
 ('Disney II Magnet School', '97.30%'),
 ('John H Vanderpoel Elementary Magnet School', '97.20%')]

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [20]:
%%sql
SELECT NAME_OF_SCHOOL
    , AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC NULLS LAST
LIMIT 5;

 * sqlite:///Chicago.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%')]

### Problem 6

##### Remove the '%' sign from the above result set for Average Student Attendance column.

In [21]:
%%sql
SELECT NAME_OF_SCHOOL
    , REPLACE(AVERAGE_STUDENT_ATTENDANCE, '%', '') as AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC NULLS LAST
LIMIT 5;

 * sqlite:///Chicago.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90'),
 ('Barbara Vick Early Childhood & Family Center', '60.90'),
 ('Dyett High School', '62.50'),
 ('Wendell Phillips Academy High School', '63.00'),
 ('Orr Academy High School', '66.30')]

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [22]:
%%sql
SELECT NAME_OF_SCHOOL
    , AVERAGE_STUDENT_ATTENDANCE
FROM CHICAGO_PUBLIC_SCHOOLS
WHERE CAST(REPLACE(AVERAGE_STUDENT_ATTENDANCE, '%', '') AS REAL) < 70
ORDER BY AVERAGE_STUDENT_ATTENDANCE ASC;

 * sqlite:///Chicago.db
Done.

[('Richard T Crane Technical Preparatory High School', '57.90%'),
 ('Barbara Vick Early Childhood & Family Center', '60.90%'),
 ('Dyett High School', '62.50%'),
 ('Wendell Phillips Academy High School', '63.00%'),
 ('Orr Academy High School', '66.30%'),
 ('Manley Career Academy High School', '66.80%'),
 ('Chicago Vocational Career Academy High School', '68.80%'),
 ('Roberto Clemente Community Academy High School', '69.60%')]

### Problem 8

##### Get the total College Enrollment for each Community Area

In [23]:
%%sql
SELECT COMMUNITY_AREA_NAME
    , SUM(COLLEGE_ENROLLMENT) as total_college_enrollment
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY COMMUNITY_AREA_NAME
ORDER BY 2 DESC
LIMIT 10;

 * sqlite:///Chicago.db
Done.

[('SOUTH LAWNDALE', 14793),
 ('BELMONT CRAGIN', 14386),
 ('AUSTIN', 10933),
 ('GAGE PARK', 9915),
 ('BRIGHTON PARK', 9647),
 ('WEST TOWN', 9429),
 ('HUMBOLDT PARK', 8620),
 ('WEST RIDGE', 8197),
 ('NEAR WEST SIDE', 7975),
 ('NEW CITY', 7922)]

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order.

In [24]:
%%sql
SELECT COMMUNITY_AREA_NAME
    , SUM(COLLEGE_ENROLLMENT) AS total_college_enrollment
FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY COMMUNITY_AREA_NAME
ORDER BY 2 ASC
LIMIT 5;

 * sqlite:///Chicago.db
Done.

[('OAKLAND', 140),
 ('FULLER PARK', 531),
 ('BURNSIDE', 549),
 ('OHARE', 786),
 ('LOOP', 871)]

### Problem 10

##### List 5 schools with lowest safety score.

In [25]:
%%sql
SELECT COMMUNITY_AREA_NAME
    , SAFETY_SCORE
FROM CHICAGO_PUBLIC_SCHOOLS
WHERE SAFETY_SCORE IS NOT NULL
ORDER BY 2 ASC
LIMIT 5;

 * sqlite:///Chicago.db
Done.

[('WASHINGTON PARK', 1.0),
 ('WEST ENGLEWOOD', 5.0),
 ('WEST GARFIELD PARK', 6.0),
 ('AUBURN GRESHAM', 11.0),
 ('GREATER GRAND CROSSING', 13.0)]

### Problem 11

##### Get the hardship index for the community area of the school which has College Enrollment of 4368.

In [26]:
import pandas

df = pandas.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv")
df.to_sql("CENSUS_DATA", con, if_exists='replace', index=False,method="multi")

78

In [27]:
%%sql
SELECT HARDSHIP_INDEX
FROM CENSUS_DATA
WHERE CAST(COMMUNITY_AREA_NUMBER as INTEGER) = (
    SELECT COMMUNITY_AREA_NUMBER
    FROM CHICAGO_PUBLIC_SCHOOLS
    WHERE COLLEGE_ENROLLMENT = 4368
    );

 * sqlite:///Chicago.db
Done.

[(6.0,)]

### Problem 12

##### Get the hardship index for the community area which has the highest value for College Enrollment.

In [28]:
%%sql
SELECT HARDSHIP_INDEX 
FROM CENSUS_DATA 
WHERE CAST(COMMUNITY_AREA_NUMBER as INTEGER) = ( 
    SELECT COMMUNITY_AREA_NUMBER 
    FROM CHICAGO_PUBLIC_SCHOOLS
    ORDER BY COLLEGE_ENROLLMENT DESC
    LIMIT 1
    );

 * sqlite:///Chicago.db
Done.

[(6.0,)]

## Summary

In this project, a series of SQL queries were executed to analyze data from Chicago Public Schools and corresponding community areas. Key findings include identifying schools with the highest student attendance, determining enrollment trends, and exploring the relationship between community hardship and education metrics. The project demonstrates effective use of SQL for extracting insights and highlights the value of combining educational data with broader community statistics for comprehensive analysis.